{% extends 'layout.html' %}
{% load static %}

{% block title %}
    LotusBank | Deposit
{% endblock title %}
    
{% block body %}

    {% include 'core/app_navbar.html' %}

    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'app-form.css' %}">
  
  
      <div>
  
        <div class="form-container">
          <form class="transaction-form" method="POST">
            <h2><i class="fa-solid fa-landmark fa-shake"></i> Deposit</h2> <hr><br>
            {% csrf_token %}
            
            <div class="form-group">
              <label for="amount">{{ form.amount.label }}</label>
              {{ form.amount }}
            </div>
  
            {% comment %} Message Alert For Failed Login & Other Messages {% endcomment %}
            {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="fa-solid fa-triangle-exclamation"></i> {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% endfor %}
            {% endif %}
  
            <button type="submit">DEPOSIT</button>
  
          </form>
        </div>
      
      </div>

{% endblock body %}