{% extends 'layout.html' %}
{% load static %}

{% block title %}
    LotusBank | SignUp
{% endblock title %}
    
{% block body %}

    <link rel="stylesheet" href="{% static 'signup.css' %}">

    {% include 'core/navbar.html' %}
    
        {% comment %} Contains Link to different pages {% endcomment %}
    <div class="navbar">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" alt="bankLogo" width="100px">

        <div class="navbar-links">
            <a href="{% url 'homepage' %}">Home</a>
            <a href="{% url 'login' %}" class="{% if 'login' in request.path %}active{% endif %}">Login</a>

            {% comment %} Checks if user exists. If no, then Sign Up {% endcomment %}
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="{% if 'logout' in request.path %}active{% endif %}">Logout</a>
            {% else %}
                <a href="{% url 'signup' %}" class="{% if 'signup' in request.path %}active{% endif %}">Sign Up</a>
            {% endif %}

        </div>
    </div>

    {% if form.errors %}
        <p>Hey, there was an error with your registration</p>
    {% endif %}

    <div class="wrapper">
        <div class="form-left">
            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">
                    Your <span style="color: #A9A9A9"> Trusted </span> Financial Services.
                    We're more than a <span style="color: #A9A9A9"> Bank </span>
                </h4> <br>

                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <br>

                <div class="form-field">
                    <a href="{% url 'login' %}"><input type="submit" class="account" value="Have an Account?"></a>
                </div>
            </div>
        </div>

        {% comment %} Registration Form {% endcomment %}
        <form action="{% url 'signup' %}" method='post' class="form-right">
            {% csrf_token %}
            <h2 class="text-uppercase">Create Your Account</h2>
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label>{{ form.first_name.label }}</label>
                    <input type="text" name="{{ form.first_name.name }}" value="{{ form.first_name.value }}" id="first_name" class="input-field">
                </div>
                <div class="col-sm-6 mb-3">
                    <label>{{ form.last_name.label }}</label>
                    <input type="text" name="{{ form.last_name.name }}" value="{{ form.last_name.value }}" id="last_name" class="input-field">
                </div>
            </div>
            <div class="mb-3">
                <label>{{ form.email.label }}</label>
                <input type="email" name="{{ form.email.name }}" value="{{ form.email.value }}" class="input-field" required>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label>{{ form.password1.label }}</label>
                    {% comment %} <input type="password" name="pwd" id="pwd" class="input-field"> {% endcomment %}
                    <input type="password" name="{{ form.password1.name }}" value="{{ form.password1.value }}" id="pwd" class="input-field">
                </div>
                <div class="col-sm-6 mb-3">
                    <label>Retype Password</label>
                    <input type="password" name="{{ form.password2.name }}" value="{{ form.password2.value }}" id="pwd" class="input-field">
                </div>
            </div>
            <div class="mb-3">
                <label class="option">I agree to the <a href="#">Terms and Conditions</a>
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="form-field">
                <input type="submit" value="Register" class="register" name="register">
            </div>
        </form>
    </div>

    
{% endblock body %}