{% extends 'layout.html' %}
{% load static %}

{% block title %}
    AES Encrypted BankApp | SignUp
{% endblock title %}
    
{% block body %}

    <link rel="stylesheet" href="{% static 'signup.css' %}">

    {% comment %} NavBar {% endcomment %}
    {% include 'core/navbar.html' %}
    
        {% comment %} Contains Link to different pages {% endcomment %}
    <div class="navbar">
        <a href="{% url 'homepage'%}"><img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" alt="bankLogo" width="100px"></a>

        <div class="navbar-links">
            {% comment %} Checks if user exists. If no, then Sign Up {% endcomment %}
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="{% if 'logout' in request.path %}active{% endif %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="{% if 'login' in request.path %}active{% endif %}">Login</a>
                <a href="{% url 'signup' %}" class="{% if 'signup' in request.path %}active{% endif %}">Sign Up</a>
            {% endif %}

        </div>
    </div>

    {% comment %} Registration Form {% endcomment %}
    <div class="wrapper">

        <form action="{% url 'signup' %}" method='post' class="form-right">
            {% csrf_token %}
            <h2 class="text-uppercase">Create Your Account</h2>
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label>First Name</label>
                    <input type="text" name="{{ form.first_name.name }}"  id="first_name" class="input-field" required>
                </div>
                <div class="col-sm-6 mb-3">
                    <label>Last Name</label>
                    <input type="text" name="{{ form.last_name.name }}" id="last_name" class="input-field">
                </div>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label>{{ form.username.label }}</label>
                    <input type="text" name="{{ form.username.name }}" class="input-field" required>
                </div>
                
                <label>Email Address</label>
                <input type="email" name="{{ form.email.name }}" placeholder="@example.com" class="input-field" required>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label>{{ form.password1.label }}</label>
                    {% comment %} <input type="password" name="pwd" id="pwd" class="input-field"> {% endcomment %}
                    <input type="password" name="{{ form.password1.name }}" id="pwd" class="input-field">
                </div>
                <div class="col-sm-6 mb-3">
                    <label>Retype Password</label>
                    <input type="password" name="{{ form.password2.name }}" id="pwd" class="input-field">
                </div>
            </div>
            <div class="mb-3">
                <label class="option">I agree to the <a href="#">Terms and Conditions</a>
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                </label>
            </div>
            
            {% comment %} Error Message For Form Error {% endcomment %}
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ form.errors }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}


            <div class="form-field">
                <input type="submit" value="Register" class="register" name="register">
            </div>
        </form>

    </div>

    
{% endblock body %}