{% extends 'layout.html' %}

{% block title %}
    LotusBank | Transfer
{% endblock title %}
    
{% block body %}

  {% include 'core/app_navbar.html' %}

  <style>
    .alert-custom{

    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    color: #fff;

    }
  </style>


    <div>
      <h1>Transfer money</h1>
      <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Transfer</button>
      </form>
      <br>
      {% comment %} Message Alert For Failed Login & Other Messages {% endcomment %}
          {% if messages %}
      {% for message in messages %}
          <div class="alert alert-custom alert-dismissible fade show" role="alert">
            <i class="fa-solid fa-triangle-exclamation"></i> {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endfor %}
        {% endif %}
    </div>

{% endblock body %}